argcomplete==1.12.3
awscli==1.21.7
Beaker==1.10.0
beautifulsoup4==4.9.3
blivet==3.4.2
blivet-gui==2.3.0
botocore==1.22.7
Brlapi==0.8.2
cached-property==1.5.2
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
chrome-gnome-shell==0.0.0
click==8.0.1
colorama==0.4.4
conda==4.10.3
conda-package-handling==1.7.3
cryptography==3.4.7
cson==0.8
cupshelpers==1.0
cvutils==0.1.0
cytoolz==0.11.0
dasbus==1.6
dbus-python==1.2.18
decorator==5.0.9
distro==1.6.0
docutils==0.16
fedora-third-party==0.8
fros==1.1
frozendict==1.2
gpg==1.15.1
gssapi==1.6.14
humanize==0.5.1
idna==3.2
jmespath==0.10.0
koji==1.26.1
langtable==0.0.56
libcomps==0.1.18
lxml==4.6.3
Mako==1.1.4
MarkupSafe==2.0.0
mod-wsgi==4.9.0
nftables==0.1
numpy==1.21.1
olefile==0.46
packaging==21.0
Paste==3.5.0
pexpect==4.8.0
pid==2.2.3
Pillow==8.3.2
ply==3.11
productmd==1.33
progressbar2==3.53.2
ptyprocess==0.6.0
pwquality==1.4.4
py-cpuinfo==8.0.0
pyasn1==0.4.8
pycairo==1.20.1
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.44.1
pyenchant==3.2.2
pygit2==1.6.1
Pygments==2.9.0
PyGObject==3.42.0
pykickstart==3.34
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.11.7
PyQt5==5.15.6
PyQt5-sip==12.9.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.1
python-meh==0.50
python-utils==2.5.6
pytz==2021.3
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
regex==2021.10.23
requests==2.26.0
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
rpm==4.17.0
rpmautospec==0.2.5
rsa==4.7.2
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
s3transfer==0.5.0
selinux==3.3
sepolicy==3.3
setools==4.4.0
simpleaudio==1.0.4
simpleline==1.8.2
six==1.16.0
slip==0.6.4
slip.dbus==0.6.4
sos==4.2
soupsieve==2.3.1
speg==0.3
systemd-python==234
Tempita==0.5.2
toolz==0.11.1
tqdm==4.62.1
urllib3==1.26.6
